* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-------------------------------------------------------------------------------------------------------------------------- */
/*------------------------------------------------------ HEADER------------------------------------------------------------- */
/*-------------------------------------------------------------------------------------------------------------------------- */

header {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    padding: 20px 60px;
    background-color: black;
}

header>span {
    display: flex;
    background: linear-gradient(90deg, #ff04b4, #9c08c9);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    z-index: 9000;
}

/* BOTÃO DO MENU */

.menu-button {
    background-color: transparent;
    padding: 16px;
    font-size: 2rem;
    right: 0;
    border: none;
    cursor: pointer;
    z-index: 100000;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

.menu-container {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(-43deg, #c51a7c, #141735 90%);
    z-index: 9000;
}

li,
a {
    font-size: 3rem;
    list-style: none;
    text-decoration: none;
    text-align: center;
    padding: 15px;
    color: rgb(200, 214, 209);
    font-weight: bold;
}

a {
    position: relative;
}

a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background: white;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

ul {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*-------------------------------------------------------------------------------------------------------------------------- */
/*-------------------------------------------------------------------------------------------------------------------------- */
/*-------------------------------------------------------------------------------------------------------------------------- */


/*-------------------------------------------------------------------------------------------------------------------------- */
/*-----------------------------------------------------------BODY----------------------------------------------------------- */
/*-------------------------------------------------------------------------------------------------------------------------- */

html,
body {
    background: black;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.paginas {
    width: 100%;
    height: 100vh;
}

.hero-page {
    display: flex;
    height: 100vh;
}

.background-container {
    background-image: url("images/background.png");
    background-position: center;
    position: absolute;
    height: 100vh;
    width: 50%;
    top: 0;
    right: 0;
}

.hero-page-texto {
    position: absolute;
    z-index: -1;
    top: 0;
    height: 100vh;
    width: 50%;
    background-color: black;
    padding-left: 60px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 10;
}

.hero-page-texto>h1 {
    font-size: 6rem;
    padding-bottom: 30px;
}

.hero-page-texto>p {
    font-size: 2rem;
    display: flex;
    justify-content: left;
}

.hero-page-texto>button {
    margin-top: 50px;
    height: 70px;
    width: 300px;
    background-color: white;
    font-size: 1.5rem;
    border: 0;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
}

.hero-page-texto>button:hover {
    color: white;
    background: linear-gradient(90deg, #ff04b4, #5e0f76);
    transition: all 0.2s ease 0s;
}

/*-------------------------------------------------------------------------------------------------------------------------- */
/*-------------------------------------------------------------------------------------------------------------------------- */
/*-------------------------------------------------------------------------------------------------------------------------- */



/*-------------------------------------------------------------------------------------------------------------------------- */
/*----------------------------------------------------------BOTÃO NIGHT MODE------------------------------------------------ */
/*-------------------------------------------------------------------------------------------------------------------------- */

.switch {
    display: block;
    --width-of-switch: 3.5em;
    --height-of-switch: 2em;
    /* size of sliding icon -- sun and moon */
    --size-of-icon: 1.4em;
    --slider-offset: 0.3em;
    position: absolute;
    z-index: 3000;
    margin-right: 60px;
    margin-bottom: 20px;
    right: 0;
    bottom: 0;
    width: var(--width-of-switch);
    height: var(--height-of-switch);
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f4f4f5;
    transition: .4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: var(--size-of-icon, 1.4em);
    width: var(--size-of-icon, 1.4em);
    border-radius: 20px;
    left: var(--slider-offset, 0.3em);
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(40deg, #f6c3dc, #f697ef 70%);
    transition: .4s;
}

input:checked+.slider {
    background-color: #303136;
}

input:checked+.slider:before {
    left: calc(100% - (var(--size-of-icon, 1.4em) + var(--slider-offset, 0.3em)));
    background: #303136;
    box-shadow: inset -3px -2px 5px -2px #9a1768, inset -10px -4px 0 0 #d5296b;
}

/*-------------------------------------------------------------------------------------------------------------------------- */
/*-------------------------------------------------------------------------------------------------------------------------- */
/*-------------------------------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 600px) {
    header {
        padding: 10px 30px;
    }

    header>span {
        font-size: 1.2rem;
        z-index: 2000;
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 20px;
        height: 2px;
        background-color: white;
        margin: 4px 0;
        transition: 0.4s;
    }

    .change .bar1 {
        transform: translate(0, 5.8px) rotate(-45deg);
    }

    .change .bar3 {
        transform: translate(0, -5.8px) rotate(45deg);
    }

    .menu-container>ul>li>a {
        font-size: 0.8em;
        padding: 0px;
    }

    li,
    a {
        padding: 3px;
    }

    .switch {
        --width-of-switch: 2.5em;
        --height-of-switch: 1.3em;
        /* size of sliding icon -- sun and moon */
        --size-of-icon: 1.1em;
        --slider-offset: 0.1em;
        margin-right: 30px;
        margin-bottom: 10px;
    }

    .hero-page-texto {
        width: 100%;
        height: 45vh;
        z-index: 1000;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        padding-top: 40px;
    }

    .hero-page-texto>h1 {
        font-size: 2.3em;
        padding-top: 50px;
        padding-bottom: 20px;
    }

    .hero-page-texto>p {
        font-size: 1em;
        padding: 0;
        text-align: center;
    }

    .hero-page-texto>button {
        height: 50px;
        width: 150px;
        font-size: 20px;
        margin-top: 20px;
    }

    .background-container {
        background-image: url("images/background.png");
        background-size: cover;
        position: absolute;
        width: 110%;
        bottom: 0;
        height: 100%;
    }
}

.about-me {
    background: linear-gradient(180deg , #00000000) ;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 100px;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.circulo-about-me {
    background-color: #371956;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 400px;
    border-radius: 300px;
    box-shadow: 10px 5px 5px #290134;
}

#rocket {
    width: 300px;
    height: 300px;
}

.container-about-me {
    border: #9a1768 4px solid;
    border-radius: 50px;
    color: white;
    height: 600px;
    width: 800px;
    padding: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    font-size: 1.6em;
}

.contact-me {
    height: 100vh;
    background-color: crimson;
}