* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Overpass Mono', monospace;

}

/* Header */
body {
    background-color: rgb(25, 25, 25);
}
header {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    padding: 20px 60px;
    background-color: transparent;
    z-index: 1000;
}

header > span {
    display: flex;
    background: linear-gradient(90deg, #ff04b4, #9c08c9);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

/* botão hamburguer do menu */

.menu-button {
    background-color: transparent;
    padding: 16px;
    right: 0;
    border: none;
    cursor: pointer;
}

.bar1,.bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.change.bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change.bar2 {
    opacity: 0;
}

.change.bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

.menu-container {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(-43deg, #c51a7c, #141735 90%);
    z-index: 500;
}

li, a {
    font-size: 3rem;
    list-style: none;
    text-decoration: none;
    text-align: center;
    padding: 15px;
    color: rgb(200, 214, 209);
    font-weight: bold;
}

a {
    position: relative;
}

a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background: white;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

ul {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.socials {
    display: flex;
    margin: 20px 100px 0 100px;
    justify-content: space-between;
}

#github, #linkedin {
    height: 50px;
    width: 50px;
    color: rgb(200, 214, 209);
    cursor: pointer;
}

#github:hover, #linkedin:hover {
    color: white;
    transition: all 0.1s ease-in-out;
}

/* botão night mode */

.switch {
    display: block;
    --width-of-switch: 3.5em;
    --height-of-switch: 2em;
    /* size of sliding icon -- sun and moon */
    --size-of-icon: 1.4em;
    --slider-offset: 0.3em;
    position: absolute;
    z-index: 3000;
    margin-right: 60px;
    margin-bottom: 20px;
    right: 0;
    bottom: 0;
    width: var(--width-of-switch);
    height: var(--height-of-switch);
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f4f4f5;
    transition: .4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: var(--size-of-icon, 1.4em);
    width: var(--size-of-icon, 1.4em);
    border-radius: 20px;
    left: var(--slider-offset, 0.3em);
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(40deg, #f6c3dc, #f697ef 70%);
    transition: .4s;
}

input:checked+.slider {
    background-color: #303136;
}

input:checked+.slider:before {
    left: calc(100% - (var(--size-of-icon, 1.4em) + var(--slider-offset, 0.3em)));
    background: #303136;
    box-shadow: inset -3px -2px 5px -2px #9a1768, inset -10px -4px 0 0 #d5296b;
}

/* paginas */

.paginas {
    overflow: auto;
    scroll-snap-type: y mandatory;
    height: 100vh;
}

.paginas::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.paginas {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.hero-page {
    scroll-snap-align: start;
    height: 100vh;
    width: 100vw;
    display: flex;
}

.background-container {
    background-image: url("images/background.png");
    background-position: center;
    height: 100vh;
    width: 50%;
    top: 0;
    right: 0;
}

.hero-page-texto {
    z-index: -1;
    top: 0;
    height: 100vh;
    width: 50%;
    background-color:  rgb(22, 22, 22);
    padding-left: 60px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 10;
}

.hero-page-texto>h1 {
    font-size: 4.5rem;
    padding-bottom: 30px;
}

.hero-page-texto>p {
    font-size: 1.4rem;
    justify-content: left;
    margin-bottom: 50px;
}

#button {
    height: 70px;
    width: 220px;
    background-color: white;
    font-size: 1.2rem;
    border: 0;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
}

#button:hover {
    color: white;
    background: linear-gradient(90deg, #ff04b4, #5e0f76);
    transition: all 0.2s ease 0s;
}

.about-me {
    scroll-snap-align: start;
    height: 100vh;
    width: 100vw;
    background-color: rgb(22, 22, 22);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.about-me > .orbita, .about-me >.container-about-me {
    margin: 0px 30px 0 30px;
}

.orbita {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 450px;
    width: 450px;
    border-radius: 600px;
    border: rgb(233, 124, 255) 2px dotted;
}

.circulo-about-me {
    background-color: #371956;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 400px;
    border-radius: 300px;
    box-shadow: 10px 5px 5px #290134;
}

#rocket {
    width: 300px;
    height: 300px;
}

.container-about-me {
    color: white;
    height: 600px;
    width: 800px;
    padding: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    font-size: 1em;
}

.container-about-me > p {
    margin-top: 20px;
    margin-bottom: 20px;
}

.container-about-me > button {
    margin-top: 0;
}

.projects {
    scroll-snap-align: start;
    height: 100vh;
    width: 100vw;
    background-color: navy;
}

.projects {
    scroll-snap-align: start;
    background-color: rgb(22, 22, 22);
    height: 100vh;
    width: 100vw;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-me {
    position: relative;
    scroll-snap-align: start;
    height: 100vh;
    width: 100vw;
    background-color: rgb(22, 22, 22);
    color: white;
}

.horizontal-strip {
    position: relative;
    width: 100vw;
    height: 50%;
    background: linear-gradient(90deg, #ff04b4, #9c08c9);
    top: 25%;
}

.formulario-text {
    position: absolute;
    top:14%;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.formulario {
    padding: 20px;
    border-radius: 20px;
    z-index: 100;
    background: rgb(255, 255, 255);
    width: 600px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario > h1 {
    color: black;
    margin-bottom: 15px;
}

input[type=text] {
    width: 500px;
    height: 35px;
    outline: 0;
    border-width: 0 0 2px;
    border-color: transparent;
    transition: 0.6 all ease-in;
}

input[type=text]:focus, #msg:focus {
    border-width: 0 0 3px;
    border-image: linear-gradient(90deg, #ff04b4, #9c08c9) 1 100;
    outline: none;
}

input[type=text] , #msg {
    background-color: rgb(241, 241, 241);
}

.formulario > form {
    display: flex;
    flex-direction: column;
}

#msg {
    margin-top: 25px;
    height: 300px;
    width: 500px;
    border-color: transparent;
    outline: none;
    resize: none;
}

#submit {
    border-radius: 5px;
    margin-top: 5px;
    height: 40px;
    width: 200px;
    margin-left: auto;
    border: transparent;
    color: rgb(255, 255, 255);
    background: rgb(208, 43, 216);
    background-size: cover;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

#submit:hover {
    background: rgba(242, 0, 255, 0.802);
}

#github-2, #linkedin-2 {
    height: 30px;
    width: 35px;
    color: white;
    transition: 0.2s all;
}

#github-2:hover, #linkedin-2:hover {
    height: 30px;
    width: 35px;
    color: rgb(212, 212, 212);
}

.texto-form > p {
    margin-bottom: 50px;
}

@media only screen and (max-width: 600px) {
    header {
        position: fixed;
        top: 0;
        padding: 10px 30px;
    }

    header>span {
        font-size: 0.9rem;
    }

    .bar1,.bar2,.bar3 {
        width: 20px;
        height: 2px;
        background-color: white;
        margin: 4px 0;
        transition: 0.4s;
    }

    .change .bar1 {
        transform: translate(0, 5.8px) rotate(-45deg);
    }

    .change .bar3 {
        transform: translate(0, -5.8px) rotate(45deg);
    }

    .menu-container>ul>li>a {
        font-size: 0.8em;
        padding: 0px;
    }

    li,a {
        padding: 3px;
    }

    .socials {
        margin: 0px 30px 0px 30px;
    }

    #github, #linkedin {
        height: 35px;
        width: 35px;
        color: rgb(200, 214, 209);
    }

    .switch {
        --width-of-switch: 2.5em;
        --height-of-switch: 1.3em;
        /* size of sliding icon -- sun and moon */
        --size-of-icon: 1.1em;
        --slider-offset: 0.1em;
        margin-right: 30px;
        margin-bottom: 10px;
    }

    .hero-page-texto {
        width: 100%;
        height: 45vh;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        padding-top: 40px;
    }

    .hero-page-texto>h1 {
        font-size: 1.7em;
        padding-top: 50px;
        padding-bottom: 20px;
    }

    .hero-page-texto>p {
        font-size: 0.8em;
        padding: 0;
        text-align: center;
    }

    .hero-page-texto>button {
        height: 50px;
        width: 150px;
        font-size: 20px;
        margin-top: 20px;
    }

    .background-container {
        background-image: url("images/background.png");
        background-size: cover;
        position: absolute;
        width: 110%;
        bottom: 0;
        height: 100%;
    }


}